* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f06, #f90);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 320px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
}

input {
    margin: 0.5em 0;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.75em;
    background-color: #f06;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e05;
}

a {
    color: #f06;
    cursor: pointer;
    text-decoration: none;
}

.error-message {
    color: red;
    margin-top: 0.5em;
    font-size: 0.875em;
}

/* Hidden class to toggle between login and signup */
.hidden {
    display: none;
}
